#sidebar{
    height: 100vh;
    padding-top: 60px;
    background-color: rgb(203, 203, 221);
    position: fixed;
    font-weight: 600;
}
#dashboard{
    margin-top: 60px;


}
.navbar{
    background-color: gray;
    box-shadow: grey;

}