<div class="section-container">
  <h2>Latest Orders</h2>
    <div *ngIf="loading; else ShowTable">
      Please be patient while loading
    </div>
    <ng-template #ShowTable>
      <table class="table table-inverse table-hover">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Amount</th>
            <th>Order Placed</th>
            <th>Order Fulfilled</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.customer.name }}</td>
            <td>{{ order.total }}</td>
            <td>{{ order.orderPlaced | date: 'short' }}</td>
            <td>{{ order.orderCompleted | date: 'short' }}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  <app-pagination (prevPage)="goToPrev()"
  (nextPage)="goToNext()"
  (goPage) = "goToPage($event)"
  [page]="page"
  [perPage]="limit"
  [pages]="total"
  ></app-pagination>
  Pages: {{total}}
  {{page}}

</div>